*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondototal{
    max-width: 375px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.main{
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.caballito{
    width: 250px;

    position: absolute;
    left: 70px;
    top: 110px;
}

.nubeysol{
    width: 180px;

    position: absolute;
    top: 5px;
    right: -70px;
}

.nube3{
    width: 120px;

    position: absolute;
    top: 10px;
    left: -15px;
}

.nube1{
    width: 210px;

    position: absolute;
    right: -70px;
    bottom: -80px;
}

.textmain{
    width: 80%;
    text-align: center;
    margin-bottom: 100px;
    z-index: 10;

    color: #3d5e70;
}

.titulo1{
    font-size: 2.5em;
    margin-top: 150px;
    padding-bottom: 200px;
}

.nombre{
    font-size: 1.8em;
}

.texto1{
    margin-top: 10px;
    font-size: 1.5em;
}

.fecha{
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 380px;
    overflow: hidden;

    position: relative;
}


.nubefecha1{
    height: 150px;

    position: absolute;
    top: -20px;
    left: -70px;
}

.nubefecha2{
    height: 100px;

    position: absolute;
    bottom: -5px;
    right: -50px;
}

.contenedorfechas{
    width: 90%;
    height: 380px;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #3d5e70;
}

.fecha1{
    font-size: 2em;
    padding-bottom: 5px;
}

.horario{
    font-size: 1.6em;
    padding-bottom: 10px;
}

#countdown {
    display: flex;
    gap: 15px; /* Espacio entre los bloques de tiempo */
    background: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.time-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .9em;
}

.time-unit span:first-child { /* Los números */
    font-size: 2em;
    font-weight: bold;
    color: #3d5e70; /* Color principal */
    line-height: 1;
}

.label { /* Las etiquetas (Días, Horas, etc.) */
    font-size: 0.7em;
    text-transform: uppercase;
    margin-top: 5px;
    color: #666;
}

.ubicacioncontenedor{
    width: 100%;
    height: 300px;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.ubicaciontexto{
    text-align: center;
    color: #3d5e70;
    font-weight: bold;
    font-size: 1.8em;
}

.cajaubicacion{
    width: 40%;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(40, 98, 214);
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ubicacionenlace{
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    cursor: pointer;
}

.cajaconfirmar{
    width: 50%;
    height: 40px;
    background-color: rgb(124, 178, 241);
    border-radius: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmacionenlace{
    text-decoration: none;
    font-weight: bold;
    font-size: .9em;
    cursor: pointer;
    
}

.infofinal{
    width: 100%;
    height: 50px;
    background-color: #3d5e70;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px;
    color: white;
}

.creador{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: .8em;
}

.leyenda{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: .8em;
    text-align: right;

}
